@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: url("https://media.discordapp.net/attachments/822171175123812366/1022849024044322817/unknown.png");
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  box-shadow: 6px 6px 6px #040b11;
  border-radius: 20px;
  margin: 64px;
  padding: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile-img {
  border-radius: 460px;
  max-height: 200px;
  max-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-title {
  margin-left: 20px;
}

.profile-title h1 {
  font-weight: 700;
  font-size: 36px;
  color: #040b11;
}

.profile-title h3 {
  font-weight: 400;
  font-size: 24px;
  color: #040b11;
}

.link-social {
  cursor: pointer;
  transition: opacity 0.2s;
}

.link-social:hover {
  opacity: 0.7
}

.badges {
  display: flex;
  flex-direction: row;
}

.badges-img {
  transition: 0.5s all;
  filter: grayscale(100%);
  filter: brightness(0);
}

.badges-img:hover {
  transition: 0.5s all;
  transform: scale(1.1);
  filter: grayscale(0%);
}

.projects-columm {
  display: flex;
  flex-wrap: wrap;
}

.projects {
  flex: 1;
  flex-direction: column;
  background: url("https://media.discordapp.net/attachments/822171175123812366/1022865435181457501/unknown.png");
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 32px;
  padding: 25px;
}

.projects-title {
  list-style: none;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ecf4ff;
}

.projects-itens {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #ecf4ff;
}

.aboutme {
  flex: 1;
  background: url("https://media.discordapp.net/attachments/822171175123812366/1022865435181457501/unknown.png");
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 32px;
  padding: 25px;
}

.aboutme h1 {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ecf4ff;
}

.aboutme p {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #ecf4ff;
  text-align: justify;
  text-justify: inter-word;
}

.var {
  color: #5cb6e0;
}

.copy-right {
  display: flex;
}

.copy-right-sec {
	padding: 1.8rem;
  background: #ecf4ff;
  text-align: center;
 	font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: #040b11;
}